@media (min-width: 992px){
    section{
        width: 25%;
        margin: 3.5%
    }
}
@media (max-width: 991px){
    @media(min-width: 768px){
    section{
        width: 45%;
        margin-left: 3%;
    }
    .spread{
        clear: left;
        width: 90%;
        margin: 4%;
    }
  }
}
@media (max-width: 767px){
    section{
        width: 90%;
        margin: 5%;
    }
}
button{
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blue;
    text-emphasis-color: black;
}
button:hover{
    background-color: cornflowerblue;
}
.veg{
    color: green;
}
.nonveg{
    color: red;
}
section{
    box-sizing: border-box;
    border: solid black;
    border-width: 2px;
    background-color: lightgray;
    float: left;
}
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 1.75em;
    text-align: center;
}
span{
    position: relative;
    border: solid black;
    border-width: 1px;
    padding: 5px;
    width: 150px;
    text-align: center;
    float: right;
}
.start{
    background-color: burlywood;
}
.main{
    background-color: coral;
}
.end{
    background-color: #f1a3b5;
}